<%- include('partials/header'); %>
<h1>Hello</h1>
<p><%= Content %></p>

<%posts.forEach(element => {%>
    <h2><%= element.title %> </h2>
    <p><%= element.content.substr(0,100) %>... <a href="/posts/<%= element.title %> ">Read More</a> </p>
<%});%>
<%- include('partials/footer'); %>
